:{$PORT}

header Cross-Origin-Opener-Policy "same-origin-allow-popups"

handle /api/* {
	reverse_proxy https://loto-backend-production.up.railway.app {
		header_up Host loto-backend-production.up.railway.app
	}
}

handle /hubs/* {
	reverse_proxy https://loto-backend-production.up.railway.app {
		header_up Host loto-backend-production.up.railway.app
	}
}

handle {
	root * /app
	try_files {path} /index.html
	file_server
}
